<div id="<%= dom_id record %>">
  <p>
    <strong>Level:</strong>
    <%= record.level %>
  </p>

  <p>
    <strong>Segment:</strong>
    <%= record.segment %>
  </p>

  <p>
    <strong>Score type:</strong>
    <%= record.score_type %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= record.score %>
  </p>

  <p>
    <strong>Competition:</strong>
    <%= record.competition.name %>
  </p>

  <p>
    <strong>Date achieved:</strong>
    <%= record.date_achieved %>
  </p>

  <p>
    <strong>Skater</strong>
    <%= record.skater.name %>

</div>
